In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("Anemia.csv")

df.head(9)

   NO    LAB_TEST  RESULT REFERENCE_INTERVAL  GENDER IDENTIFICATION
0   1  Hemoglobin    14.9        13.5 - 17.5    Male     Not Anemia
1   1         MCH    22.7        27.0 - 31.0    Male     Not Anemia
2   1        MCHC    29.1        32.0 - 36.0    Male     Not Anemia
3   1         MCV    83.7        82.0 - 92.0    Male     Not Anemia
4   2  Hemoglobin    15.9        12.0 - 16.0  Female     Not Anemia
5   2         MCH    25.4        27.0 - 31.0  Female     Not Anemia
6   2        MCHC    28.3        32.0 - 36.0  Female     Not Anemia
7   2         MCV    72.0        82.0 - 92.0  Female     Not Anemia
8   3  Hemoglobin     9.0        12.0 - 16.0  Female         Anemia

In [3]:
df.shape

(5684, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5684 entries, 0 to 5683
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NO                  5684 non-null   int64
 1   LAB_TEST            5684 non-null   object
 2   RESULT              5684 non-null   float64
 3   REFERENCE_INTERVAL  5684 non-null   object
 4   GENDER              5684 non-null   object
 5   IDENTIFICATION      5684 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 266.6+ KB

In [5]:
df.isnull().sum()

NO                    0
LAB_TEST              0
RESULT                0
REFERENCE_INTERVAL    0
GENDER                0
IDENTIFICATION        0
dtype: int64

The data doesn't have null value

In [6]:
#Drop "REFERENCE_INTERVAL" column because it isn't important 

df=df.drop('REFERENCE_INTERVAL',axis=1)
 
df.head()

   NO    LAB_TEST  RESULT  GENDER IDENTIFICATION
0   1  Hemoglobin    14.9    Male     Not Anemia
1   1         MCH    22.7    Male     Not Anemia
2   1        MCHC    29.1    Male     Not Anemia
3   1         MCV    83.7    Male     Not Anemia
4   2  Hemoglobin    15.9  Female     Not Anemia

In [7]:
df["NO"].max()

1421

In [8]:
df2=pd.DataFrame(columns=["Hemoglobin","MCH",'MCHC','MCV','GENDER','IDENTIFICATION'])

df2.head()
dic={}
for i in range(1,1422):
    for k in range(0,5684):
        
        if df.loc[k,"NO"]==i:

            if df.iloc[k]["LAB_TEST"]=="Hemoglobin":
                dic["Hemoglobin"]=df.iloc[k]["RESULT"]
            elif df.iloc[k]["LAB_TEST"]=="MCH":
                dic["MCH"]=df.iloc[k]["RESULT"]
            elif df.iloc[k]["LAB_TEST"]=="MCHC":
                dic["MCHC"]=df.iloc[k]["RESULT"]
            elif df.iloc[k]["LAB_TEST"]=="MCV":
                dic["MCV"]=df.iloc[k]["RESULT"]
                dic["GENDER"]=df.loc[k,'GENDER']
                dic['IDENTIFICATION']=df.loc[k,'IDENTIFICATION']
    df2=df2.append(dic,ignore_index=True)

In [9]:
df2.head()

   Hemoglobin   MCH  MCHC   MCV  GENDER IDENTIFICATION
0        14.9  22.7  29.1  83.7    Male     Not Anemia
1        15.9  25.4  28.3  72.0  Female     Not Anemia
2         9.0  21.5  29.6  71.2  Female         Anemia
3        14.9  16.0  31.4  87.5  Female     Not Anemia
4        14.7  22.0  28.2  99.5    Male     Not Anemia

prepering the data for modeling

In [10]:
#REPLACE THE VALUE OF "Not Anemia" whit 0 and "Anemia" whit 1

df2['IDENTIFICATION']=df2['IDENTIFICATION'].replace(['Not Anemia','Anemia'],[0,1])

df2.head()

   Hemoglobin   MCH  MCHC   MCV  GENDER  IDENTIFICATION
0        14.9  22.7  29.1  83.7    Male               0
1        15.9  25.4  28.3  72.0  Female               0
2         9.0  21.5  29.6  71.2  Female               1
3        14.9  16.0  31.4  87.5  Female               0
4        14.7  22.0  28.2  99.5    Male               0

In [11]:
#REPLACE THE VALUE OF "Male" whit 0 and "female" whit 1
df2['GENDER']=df2['GENDER'].replace(['Male','Female'],[0,1])
df2.head()

   Hemoglobin   MCH  MCHC   MCV  GENDER  IDENTIFICATION
0        14.9  22.7  29.1  83.7       0               0
1        15.9  25.4  28.3  72.0       1               0
2         9.0  21.5  29.6  71.2       1               1
3        14.9  16.0  31.4  87.5       1               0
4        14.7  22.0  28.2  99.5       0               0

In [12]:
X=df2.drop(['IDENTIFICATION'],axis=1)
Y=df2["IDENTIFICATION"]

In [13]:
X.shape

(1421, 5)

In [14]:
Y.shape

(1421,)

In [17]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=.3)

traing the model with data

In [18]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy', max_depth=4)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [19]:
Y_pred=classifier.predict(X_test)
print(Y_pred)

[0 1 0 0 0 1 0 0 1 1 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 0 1 1 1 0 0 1 1 1 0 1 1
 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 1 0 1
 0 0 0 0 1 1 0 0 1 1 0 0 1 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 0 0
 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 0 1
 1 0 1 1 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 1 0 0 1 0 1 1 1 0 0 1 0 1 0 0 1 1 0
 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 1 0 1 0 1 0 0 1 0 0 0 0 0 1 1
 0 0 1 1 1 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 1 1 1 1 0 1 1 1 0
 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 1 1
 1 0 1 0 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0
 0 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 1 0 0 0 1
 0 0 1 0 1 1 1 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 1 1 0 0 1 1 0
 1 0 1 1 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1]

In [20]:
from sklearn.metrics import accuracy_score

score=accuracy_score(y_test,Y_pred)
print("{}%".format(score*100))

100.0%

save the model

In [21]:
import pickle 
filename ="finalized_model.sav"
pickle.dump(classifier,open(filename,'wb'))

In [22]:
def predictByModel(test,filename):
    loaded_model=pickle.load(open(filename,'rb'))
    pred=loaded_model.predict(test)
    return pred