In [102]:
import pandas as pd 
import numpy as np

In [103]:
all_training = pd.read_csv("all_training.csv")
all_training.head()

,Unnamed: 0,Sex,Age,CA,CK,CREA,ALP,GGT,GLU,AST,...,MO,EO,BA,NET,LYT,MOT,EOT,BAT,Suspect,target
0,A00345_2020-03-25,1.0,82.0,2.09,NaN,1.150,95.0,40.0,78.0,26.0,...,9.5,2.9,0.5,6.40,1.20,0.8,0.3,0.0,1.0,0
1,A00791_2020-03-19,1.0,51.0,1.97,237.0,0.970,54.0,98.0,98.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
2,A00741_2020-03-04,1.0,58.0,2.11,NaN,1.000,80.0,147.0,106.0,41.0,...,7.3,0.3,0.1,5.45,0.75,0.5,0.0,0.0,1.0,0
3,A00605_2020-04-15,0.0,82.0,2.27,138.0,0.755,123.5,176.5,106.0,114.0,...,9.5,1.7,0.9,3.60,2.60,0.7,0.1,0.1,0.5,0
4,A00417_2020-02-24,1.0,79.0,2.07,73.0,1.810,62.0,36.5,96.0,28.0,...,10.0,8.5,0.5,0.40,0.50,0.1,0.1,0.0,1.0,0

In [104]:
# feature selection (top ranked features from Qcovsml project)
col = ['WBC', 'MOT', 'LYT', 'Age', 'target']
df = all_training[col]
df.head()

   WBC  MOT   LYT   Age  target
0  9.9  0.8  1.20  82.0       0
1  9.2  NaN   NaN  51.0       1
2  6.7  0.5  0.75  58.0       0
3  9.7  0.7  2.60  82.0       0
4  1.0  0.1  0.50  79.0       0

In [105]:
df.shape

(1736, 5)

In [106]:
df.isnull().sum()

WBC        63
MOT       362
LYT       362
Age        54
target      0
dtype: int64

In [107]:
# replace WBC null values with mean value
df['WBC'].replace(np.NaN, df['WBC'].mean(), inplace=True)

C:\Users\H-W\anaconda3\envs\mlcc\lib\site-packages\pandas\core\series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [108]:
# replace  MOT null values with its mean value 
df['MOT'].replace(np.NaN, df['MOT'].mean(), inplace=True)

In [109]:
# replace LYT null values with its mean values 
df['LYT'].replace(np.NaN, df['LYT'].mean(), inplace=True)

In [110]:
# replace age null values with its mean value
df['Age'].replace(np.NaN, df['Age'].mean(), inplace=True)

In [125]:
df.head(10)

    WBC       MOT       LYT   Age  target
0   9.9  0.800000  1.200000  82.0       0
1   9.2  0.622232  1.367031  51.0       1
2   6.7  0.500000  0.750000  58.0       0
3   9.7  0.700000  2.600000  82.0       0
4   1.0  0.100000  0.500000  79.0       0
5   3.8  0.250000  0.600000  84.0       1
6   8.9  0.800000  0.600000  79.0       1
7  15.0  0.622232  1.367031   9.0       0
8   5.7  0.500000  0.700000  48.0       0
9   4.3  0.200000  0.700000  67.0       1

In [112]:
df.isnull().sum()

WBC       0
MOT       0
LYT       0
Age       0
target    0
dtype: int64

In [113]:
X = df.drop('target', axis=1)
y = df['target']
X.shape

(1736, 4)

In [114]:
y.shape

(1736,)

In [115]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.4)

In [116]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy', max_depth=4)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [117]:
Y_pred=classifier.predict(X_test)
print(Y_pred)

[0 0 1 1 1 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 1 0 1
 0 1 0 0 1 0 0 1 0 1 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0
 0 1 1 0 0 1 0 0 1 1 0 0 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 0 0 0 0 1 1 0 1
 1 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 1 0 1 1 1 1 0 0 0 0 1 0 1
 1 0 0 1 0 1 1 0 1 1 0 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 0 0 1 1 1
 0 1 1 0 1 0 1 0 1 0 1 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0
 0 1 0 0 1 0 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0
 0 0 0 0 0 1 0 1 0 1 1 1 1 0 1 0 0 1 1 0 1 0 1 1 1 1 0 1 0 1 1 0 0 1 0 0 0
 1 0 1 0 1 0 1 1 1 1 0 1 0 0 0 1 1 1 1 1 0 1 1 1 1 1 0 0 0 1 0 0 0 1 0 0 1
 1 1 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1
 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 1 1 0 1 0 1 1 0 1 1 0 0 0 0
 1 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 0 0 0
 1 0 0 1 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 0 1 0 0 1 1 1 0 1 0 1 1 0
 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 1 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 0 1 1
 1 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0 1 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1 1 0 0 1
 1 0 0 0 1 1 1 1 0 1 0 0 1 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 0 0 1 0 0
 1 0 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 1 1 0 0 0 1 1 1
 1 1 1 0 0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 1
 1 0 0 1 1 1 0 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 0 1 1 0]

In [118]:
from sklearn.metrics import accuracy_score , recall_score

score=accuracy_score(y_test,Y_pred)
print("Accuracy: ""{}%".format(score*100))

Accuracy: 72.5179856115108%

In [119]:
# saving the model 
import pickle 
filename = 'DeTreeClassifier_model.sav'
pickle.dump(classifier,open(filename,'wb'))

In [120]:
print(recall_score(y_test, Y_pred))

0.7329192546583851

In [128]:
Y_pred=classifier.predict([[4.3,0.200000,0.700000,67.0]])
print(Y_pred)

[1]